* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Hianali';
    src: url('font/Hianali.eot');
    src: url('font/Hianali.eot?#iefix') format('embedded-opentype'),
    url('font/Hianali.woff2') format('woff2'),
    url('font/Hianali.woff') format('woff'),
    url('font/Hianali.ttf') format('truetype'),
    url('font/Hianali.svg#Hianali') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Sans';
    src: url('font/DroidSans.eot');
    src: url('font/DroidSans.eot?#iefix') format('embedded-opentype'),
    url('font/DroidSans.woff2') format('woff2'),
    url('font/DroidSans.woff') format('woff'),
    url('font/DroidSans.ttf') format('truetype'),
    url('font/DroidSans.svg#DroidSans') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Black.eot');
    src: url('font/Raleway-Black.eot?#iefix') format('embedded-opentype'),
    url('font/Raleway-Black.woff2') format('woff2'),
    url('font/Raleway-Black.woff') format('woff'),
    url('font/Raleway-Black.ttf') format('truetype'),
    url('font/Raleway-Black.svg#Raleway-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Thin.eot');
    src: url('font/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
    url('font/Raleway-Thin.woff2') format('woff2'),
    url('font/Raleway-Thin.woff') format('woff'),
    url('font/Raleway-Thin.ttf') format('truetype'),
    url('font/Raleway-Thin.svg#Raleway-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}
a {
    text-decoration: none;
    color: inherit;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    box-shadow: 0 3px 6px #0000002C;
    background: #FFFFFF 0 0 no-repeat padding-box;
}

.header-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

nav {
    width: 50%;
}

.logo {
    font-weight: bolder;
    font-size: 25px;
    letter-spacing: 1px;
}

.content-logo {
    position: relative;
}

.logo-subtitle {
    font-size: 12px;
    position: absolute;
    top: 28px;
    right: 1px;
    color: #7A7A7A;
}

.nav-content {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content a {
    font-family: 'Droid Sans', sans-serif;
    color: #505050;
}

.nav-content li:hover::after {
    transition: all 1s;
    content: "";
    display: block;
    margin-bottom: 1px;
    width: 100%;
    height: 4px;
    background: #BDD531 0 0 no-repeat padding-box;
}

.nav-back1 {
    font-family: 'Droid Sans', sans-serif;
    padding: 25px 25px;
    background: #02BFDB 0 0 no-repeat padding-box;
    color: #292929;
    letter-spacing: 1px;
}

.nav-back2 {
    font-family: 'Droid Sans', sans-serif;
    font-weight: normal;
    padding: 25px 25px;
    background: #BDD531 0 0 no-repeat padding-box;
    color: #292929;
    letter-spacing: 1px;
}

/*end header*/
.top {
    opacity: 0.29;
    position: relative;
    background-image: url("images/img2.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
}

.top-img {
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
}

.top-box {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 28%;
}

.top-title {
    color: #000000;
    font-weight: bold;
    font-size: 45px;
    font-family: 'Droid Sans', sans-serif;
    margin-bottom: 40px;
}

.top-title-button {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.top-title-button a:hover {
    transition: all 1s;
    background: #BDD531 0 0 no-repeat padding-box;
}

.top-title-button a {
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    border: 1px solid #BDD531;
    padding: 15px 45px;
    border-radius: 5px;
    color: #292929;
    box-sizing: border-box;
}

/*=====end top images and text======*/
.box-title {
    width: 50%;
    margin: 0 100px;
    padding: 65px 0;
}

.title {
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #292929;
    font-size: 30px;
    padding: 20px 0;
}

.title-text {
    font-family: 'Droid Sans', sans-serif;
    color: #292929;
    opacity: 1;
    min-width: 280px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 100px;
    padding-bottom: 75px;
}

.featured-box {
    width: 30%;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #D0D0D0;
    border-radius: 0 0 6px 6px;
    opacity: 1;
    box-shadow: 0 3px 6px #0000002C;
}

.featured-img {
    width: 100%;

}
.full-box{
    padding: 15px 10px;
}
.featured-subtitle{
    margin-bottom: 10px;
    margin-top: 10px;
    color: #292929;
}
.featured-title {
    font-family: 'Droid Sans', sans-serif;
    letter-spacing: 1px;
    color: #292929;
    opacity: 1;
    font-weight: bold;
}
.prof-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.prof{
    display: flex;
    align-items: center;
    width: 50%;
}
.prof-name{
    font-family: 'Droid Sans', sans-serif;
    color: #505050;
    font-size: 13px;
    font-weight: bolder;
}
.prof img{
    width: 20%;
    border-radius: 15px;
    margin-right: 10px;
}
.prof-box-sum{
    font-family: 'Raleway',sans-serif;
    color: #D35135;
    font-size: 20px;
    font-weight: bold;
}
.prof-discount{
    position: relative;
    font-family: 'Raleway',sans-serif;
    font-weight: 100;
    margin-right: 5px;
    color: #8B8B8B;
}
.prof-discount::after{
    position: absolute;
    top: 10px;
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background: #8B8B8B;
}
.box-button{
    margin-left: 100px;
}
.box-button a:hover{
    transition: all 1s;
    background: #BDD531 0 0 no-repeat padding-box;
}
.box-button1{
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    border: 1px solid #BDD531;
    padding: 10px 35px;
    border-radius: 5px;
    color: #292929;
    box-sizing: border-box;
}
.box-button2{
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    border: 1px solid #BDD531;
    padding: 10px 35px;
    border-radius: 5px;
    color: #292929;
    box-sizing: border-box;
    margin-left:15px;
}